@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <div class="alert alert-primary mb-5" role="alert">
        <h1 class="fs-5">Code sample for learning several topics</h1>
    </div>
    
    <div class="card mx-auto shadow" style="width: 55rem;">
        <img src="images/efcore.png" class="card-img-top" alt="...">
        <div class="card-body">
            <h2 class="card-title fs-6">About</h2>
            <p class="card-text">A simple example of using EF Core from a class library and the start of using ASP.NET Core <mark>Areas</mark></p>
        </div>
    </div>
</div>
