@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}
<link rel="stylesheet" href="~/css/index.css" asp-append-version="true" />
<script src="lib/debugHelper.js"></script>
<div class="index-center-fixed">
    <div class="card shadow p-4 bg-primary-subtle" style="width: 22rem;">
        <img src="images/efcore.png" class="card-img-top" alt="logo">
        <div class="card-body text-center">
            <h1 class="card-title fs-4">About</h1>
            <p class="card-text">
                A simple example of using EF Core from a class library and the start of using ASP.NET Core <mark>Areas</mark>
            </p>
            <a href="https://dotnet.microsoft.com/en-us/apps/aspnet" target="_blank" class="btn btn-primary">Learn More</a>
        </div>
    </div>
</div>


<script src="~/js/index.js"></script>

<script>

    document.addEventListener("DOMContentLoaded", () => {
        document.addEventListener('keydown', function (event) {
            if (event.key === '1' && event.altKey && event.ctrlKey) {
                if (!document.getElementById("debugger-inline-style")) {
                    $debugHelper.addCss();
                } else {
                    $debugHelper.removeCss();
                }
            }
        });
    });

</script>