@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <div class="alert alert-primary" role="alert">
        <h1 class="fs-5">Code sample for learning several topics</h1>
    </div>
</div>
